body{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#deckContainer{
    display: flex;
    padding: 1em;
    background-color:azure;
    margin: 1em;
    flex-wrap: wrap;
    width: 60%;
}

#handContainer{
     display: flex;
    padding: 1em;
    background-color:azure;
    margin: 1em;
    flex-wrap: wrap;
    width: 60%;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

button{
     font-size: 3rem;
}

.card-div{
    display: inline-block;
    height: 6rem;
    width: 4rem;
    border-radius: 1px;
    border: 0.3rem solid black;
    margin: 1rem;
    font-size: 2rem;
}

.flipped{
    color: blue;
    background-color: blue;
}