#returnButton{
  margin-left: 5rem;
  margin-top: 5rem;
  white-space: nowrap;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  background-image: radial-gradient(ellipse at center, rgb(100, 100, 100),rgb(23, 23, 23));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#returnButton:hover{
  white-space: nowrap;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  color: red;
}

#mainDisplay{
    display:flex;
    justify-content: center;
}

#pageBody{
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.conceptTag{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-image: linear-gradient(to right, rgb(255, 79, 79),rgb(255, 87, 132)) 1;
    background-image: linear-gradient(to right, rgb(255, 79, 79),rgb(255, 87, 132));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-style: solid;
    border-width: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
}

.conceptTag:hover{
  opacity:100%;
  box-shadow: 0.05rem 0.05rem 10px rgba(0, 0, 0, 0.226);
}

.conceptTag:active{
    box-shadow: 0.05rem 0.05rem 10px rgba(0, 0, 0, 0.226);
    background-color: rgba(0, 0, 0, 0.599);
    background: rgba(0, 0, 0, 0.599); 
}

#controlHint{
    color: red;
    font-weight: bold;
}
#projectContainer{
    display: flex;
}

.imageGallery{
    display: flex;
    flex-direction: column;
}

.imageRow{
    display: flex;
    flex-direction: row;
    

}

.textAndImage{
    align-items: center;
    display: flex;
   
}

li{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1{
  font-family:"manrope";
  font-weight: 500;
  font-size:5rem;
  background-image: radial-gradient(ellipse at center, rgb(100, 100, 100),rgb(23, 23, 23));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

h2{
font-family:"manrope";
  font-weight: 500;
  font-size:4rem;
  background-image: radial-gradient(ellipse at center, rgb(100, 100, 100),rgb(23, 23, 23));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

h3{
font-family:"manrope";
  font-size:3rem;
  font-weight: bold;
  background-image: radial-gradient(ellipse at center, rgb(100, 100, 100),rgb(23, 23, 23));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

p,li{
  font-family:"manrope";
  font-weight: normal;
  font-size:2rem;
}

a{
    text-decoration: none;
}

p a,li a{
    text-decoration: underline;
}

.customParagraph,.customParagraph i{
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.customCitation,.customCitation i{
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.customCitationList{
    margin-left: 5rem;
}

.customExcerpt{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;
    margin-left: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.controlInstruction{ 
    padding-left: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(to top left,   rgba(255, 255, 255, 0.252), rgba(255, 255, 255, 0.254),rgba(49, 49, 49, 0.084));
}      

.customSpacing {
  color:rgba(255, 255, 255, 0);
  width : "100%";
  display : "block";
}

.customSeperator{
    border-top: 2px solid #000000;
    color:rgba(255, 255, 255, 0);
}

#pageBody img, #pageBody video,#pageBody .imageGallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#projectContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

code{
    font-family: 'Courier New', Courier, monospace;
    font-size:2rem;
    
}
pre{
    overflow: auto;
    max-height: 40rem;
    border: 0.2rem dotted red;
}